@import './variables';

.categories{
    padding: $Padding;
    background-image: linear-gradient($Light, $White);
    margin: 0 -10px;

    .wrapper{
        @media (max-width:#{$md}) {
            flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item{
            @media (max-width:#{$md}) {
                width: 100%;
            }
            flex: 1;
            margin: 10px;
            height: 40vh;
            position: relative;

            img{
                @media (max-width:#{$md}) {
                    height: 25vh;
                }
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }

            .info{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease;
        
                .desc{
                    color: $White;
                    margin-bottom: 20px;
                    @include title(2rem,600)
                }
        
                button{
                    border: none;
                    padding: 15px 30px;
                    background-color: $White;
                    @include title(1rem,600);
                    opacity: 0;
                    
                }
            }
        }

        .info:hover{
            background-color: $Dark_oo;
            cursor: pointer;

            button{
                background-color: $Light;
                cursor: pointer;
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}