@import './variables';



.slider{
    @media (max-width:#{$md}) {
        display: none;
    }
    
    padding: $Padding;
    position: relative;
    height: 60vh;
    background-image: linear-gradient($Dark, $Light);

    .arrow-left{
        @include arrow(left);
    }

    .arrow-right{
        @include arrow(right);
    }

    .arrow-left:hover,
    .arrow-right:hover{
        background-color: $Dark_o;
    }

    .slide{
        opacity: 0;
        transition: all 2s ease-in-out;

        .wrapper{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .image{
                height: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    height: 80%;
                    max-width: 100%;
                    object-fit: contain;
                }

            }
            
            .desc{
                flex: 1;
                display: flex;
                flex-direction: column;

                .title{
                    @include title(2.5rem,300);
                    letter-spacing: 0.3rem;
                    margin: 30px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                }

                .btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    button{
                        border: solid 2px $Dark;
                        background-color: transparent;
                        font-size: 2rem;
                        padding: 10px 40px;
                        transition: .5s ease;
                    }

                    button:hover{
                        background-color: $Dark_o;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .slide.active{
        opacity: 1;
        transition: all 1.5s ease-in-out;
        height: 100%;
    }
}