//Font
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
$Merriweather: 'Merriweather', serif;

//Colors
$Dark: rgb(41, 41, 41);
$Dark_o: rgba(41, 41, 41, .1);
$Dark_oo: rgba(41, 41, 41, .5);
$Dark_ooo: rgba(41, 41, 41, .7);
$Light: rgb(235, 235, 235);
$White: rgb(255, 255, 255);
$Danger: rgb(190, 0, 0);
$Warning: rgb(187, 121, 0);

//Position
$Padding: 2vh 10vw;

//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;


//Properties
@mixin title($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin arrow($direction) {
    position: absolute;
    top: 0;
    #{$direction}:0;
    height: 100%;
    padding: 0 1vw;
    cursor: pointer;
    user-select: none;
    z-index: 5;
    transition: .5s ease;
}