@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
.navbar {
  background-color: #292929;
  color: #ebebeb;
  padding: 2vh 10vw;
}

.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .wrapper .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .navbar .wrapper .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar .wrapper .top .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .navbar .wrapper .top .left {
    display: none;
  }
}

.navbar .wrapper .top .left .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ebebeb;
}

.navbar .wrapper .top .left .search input {
  border: none;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
}

.navbar .wrapper .top .left .search input:focus {
  outline: none;
}

.navbar .wrapper .top .left .search .icon {
  margin-left: 5px;
  padding: 2px;
  color: #292929;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .left .search .icon:hover {
  cursor: pointer;
  color: #ebebeb;
  background-color: #292929;
}

.navbar .wrapper .top .left .search .search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .wrapper .top .center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .center {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar .wrapper .top .center .toggle-btn {
  display: none;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .center .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .wrapper .top .center .toggle-btn .icon {
  font-size: 2.2rem;
  margin: 0 5px;
  padding: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .center .toggle-btn .icon:hover, .navbar .wrapper .top .center .toggle-btn .icon.active {
  cursor: pointer;
  color: #292929;
  background-color: #ebebeb;
}

.navbar .wrapper .top .center img {
  height: 3rem;
  margin-right: 1rem;
}

@media (max-width: 992px) {
  .navbar .wrapper .top .center img {
    display: none;
  }
}

.navbar .wrapper .top .center .title {
  font-size: 3rem;
  font-weight: 900;
}

@media (max-width: 992px) {
  .navbar .wrapper .top .center .title {
    margin-left: 15px;
  }
}

.navbar .wrapper .top .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

.navbar .wrapper .top .right .icon {
  font-size: 2.2rem;
  margin: 0 5px;
  padding: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .right .icon:hover {
  cursor: pointer;
  color: #292929;
  background-color: #ebebeb;
}

.navbar .wrapper .top .right .login-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.navbar .wrapper .top .right .login-dropdown .icon-drop {
  font-size: 2.2rem;
  margin: 0 5px;
  padding: 2px;
}

.navbar .wrapper .top .right .login-dropdown .dropdown-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #ebebeb;
  -webkit-box-shadow: 0px 30px 20px 0px #292929;
          box-shadow: 0px 30px 20px 0px #292929;
  z-index: 1;
  left: 0;
  top: 100%;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
}

.navbar .wrapper .top .right .login-dropdown .dropdown-list .item {
  padding: 1rem;
}

.navbar .wrapper .top .right .login-dropdown .dropdown-list .item:hover {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar .wrapper .top .right .login-dropdown:hover {
  background-color: #ebebeb;
  color: #292929;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.navbar .wrapper .top .right .login-dropdown:hover .dropdown-list {
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar .wrapper .bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

@media (max-width: 992px) {
  .navbar .wrapper .bottom {
    width: 100%;
  }
}

.navbar .wrapper .bottom .category {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

@media (max-width: 576px) {
  .navbar .wrapper .bottom .category {
    display: none;
  }
}

.navbar .wrapper .bottom .category .title {
  font-size: 1.4rem;
  font-weight: 300;
}

.navbar .wrapper .bottom .category .dropdown-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #ebebeb;
  -webkit-box-shadow: 0px 30px 20px 0px #292929;
          box-shadow: 0px 30px 20px 0px #292929;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
}

.navbar .wrapper .bottom .category .dropdown-list .item {
  padding: 1rem;
}

.navbar .wrapper .bottom .category .dropdown-list .item:hover {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar .wrapper .bottom .category:hover {
  background-color: #ebebeb;
  color: #292929;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.navbar .wrapper .bottom .category:hover .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar .wrapper .toggle-menu {
  width: 100%;
  display: none;
}

.navbar .wrapper .toggle-menu .toggle-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .toggle-menu .toggle-category .title {
  font-size: 1.4rem;
  font-weight: 300;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list .item {
  padding: 1rem;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list .item:hover {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar .wrapper .toggle-menu .toggle-category:hover {
  background-color: #ebebeb;
  color: #292929;
  cursor: pointer;
}

.navbar .wrapper .toggle-menu .toggle-category:hover .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  padding: 2vh 10vw;
  position: relative;
  height: 60vh;
  background-color: #ebebeb;
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }
}

.slider .arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 1vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .arrow-left:hover,
.slider .arrow-right:hover {
  background-color: rgba(41, 41, 41, 0.1);
}

.slider .slide {
  opacity: 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.slider .slide .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slide .wrapper .image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slide .wrapper .image img {
  height: 80%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider .slide .wrapper .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slide .wrapper .desc .title {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

.slider .slide .wrapper .desc .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.slider .slide .wrapper .desc .btn button {
  border: solid 2px #292929;
  background-color: transparent;
  font-size: 2rem;
  padding: 10px 40px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .slide .wrapper .desc .btn button:hover {
  background-color: rgba(41, 41, 41, 0.1);
  cursor: pointer;
}

.slider .slide.active {
  opacity: 1;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  height: 100%;
}

.categories {
  padding: 2vh 10vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(white));
  background-image: linear-gradient(#ebebeb, white);
}

.categories .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

@media (max-width: 768px) {
  .categories .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.categories .wrapper .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40vh;
  position: relative;
}

@media (max-width: 768px) {
  .categories .wrapper .item {
    width: 100%;
  }
}

.categories .wrapper .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .categories .wrapper .item img {
    height: 25vh;
  }
}

.categories .wrapper .item .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.categories .wrapper .item .info .desc {
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.categories .wrapper .item .info button {
  border: none;
  padding: 15px 30px;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0;
}

.categories .wrapper .info:hover {
  background-color: rgba(41, 41, 41, 0.5);
  cursor: pointer;
  border-radius: 5px;
}

.categories .wrapper .info:hover button {
  background-color: #ebebeb;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

.product-card .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  background-color: #ebebeb;
  color: #292929;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-card .wrapper .image {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.product-card .wrapper .image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.product-card .wrapper .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.product-card .wrapper .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  font-weight: 900;
  padding: 10px;
}

.product-card .wrapper button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #292929;
  color: #ebebeb;
  font-size: 1rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-card .wrapper:hover {
  cursor: pointer;
  background-color: #292929;
  color: #ebebeb;
}

.product-card .wrapper:hover .image {
  background-color: #ebebeb;
}

.product-card .wrapper:hover button {
  cursor: pointer;
  background-color: #ebebeb;
  color: #292929;
}

.product-card .wrapper:hover button:hover {
  background-color: #ebebeb;
}

.product-list {
  padding: 2vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-bar {
  padding: 2vh 10vw;
  margin-top: 3vh;
}

.title-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-bar .wrapper .title {
  font-size: 2rem;
  font-weight: 900;
  color: #292929;
  padding-bottom: 0.5rem;
}

.title-bar .wrapper .subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(41, 41, 41, 0.7);
  padding-left: 1rem;
}

.footer {
  padding: 2vh 10vw;
  background-color: #292929;
  color: #ebebeb;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .wrapper .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .wrapper .left .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer .wrapper .desc {
  margin: 10px 0;
}

.footer .wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.footer .wrapper .social .icon {
  border-radius: 100%;
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .wrapper .social .icon:hover {
  background-color: #ebebeb;
  color: #292929;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.footer .wrapper .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .wrapper .right .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: end;
}

@media (max-width: 768px) {
  .footer .wrapper .right .title {
    text-align: start;
    margin-top: 20px;
  }
}

.footer .wrapper .right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .footer .wrapper .right .contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .wrapper .right .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.footer .wrapper .right .contact div .icon {
  margin-right: 10px;
}

.sidebar {
  background-color: #ebebeb;
  color: #292929;
  height: 100%;
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 5px;
}

.sidebar .category.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.sidebar .category.active .title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #ebebeb;
  background-color: #292929;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.sidebar .category.active .title:hover {
  cursor: unset;
}

.sidebar .category.active .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
  padding-left: 5px;
  visibility: visible;
  opacity: 1;
  position: static;
}

.sidebar .category.active .list .item {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .category.active .list .item.active {
  background-color: rgba(41, 41, 41, 0.1);
}

.sidebar .category.active .list .item:hover {
  background-color: rgba(41, 41, 41, 0.1);
  cursor: pointer;
}

.sidebar .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.sidebar .category .title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #292929;
  background-color: rgba(41, 41, 41, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .category .title:hover {
  color: #ebebeb;
  background-color: #292929;
  cursor: pointer;
}

.sidebar .category .list {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  position: absolute;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 2vw;
  padding: 15px;
}

.filter .text {
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 5px;
}

.filter select {
  font-size: 1rem;
  font-weight: 300;
  padding: 5px;
  color: #292929;
}

.product-details {
  padding: 2vh 10vw;
}

.product-details .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .product-details .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-details .wrapper .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details .wrapper .image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  max-height: 40vh;
}

.product-details .wrapper .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .product-details .wrapper .info {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #292929;
  }
}

.product-details .wrapper .info .title {
  font-size: 2.2rem;
  font-weight: 600;
}

.product-details .wrapper .info .desc {
  margin: 30px 0px;
  font-size: 1rem;
  font-weight: 300;
}

.product-details .wrapper .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-details .wrapper .add {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .product-details .wrapper .add {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-details .wrapper .add .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-details .wrapper .add .amount div {
  margin-right: 5px;
}

.product-details .wrapper .add .amount .icon {
  cursor: pointer;
  border-radius: 50%;
}

.product-details .wrapper .add .amount .icon:hover {
  background-color: #ebebeb;
}

.product-details .wrapper .add .amount .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

.product-details .wrapper .add button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  cursor: pointer;
  min-width: 35%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 992px) {
  .product-details .wrapper .add button {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  .product-details .wrapper .add button {
    min-width: 75%;
  }
}

.product-details .wrapper .add button:hover {
  background-color: #ebebeb;
  color: #292929;
}

.login-form {
  padding: 20px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  color: #292929;
}

@media (max-width: 768px) {
  .login-form {
    min-width: 100%;
  }
}

.login-form .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px;
}

.login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.login-form form input {
  margin: 10px 0px;
  padding: 10px;
  width: 90%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #292929;
  font-size: 1rem;
}

.login-form form button {
  font-size: 1rem;
  font-weight: 600;
  width: 75%;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  cursor: pointer;
}

.login-form form button:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

.login-form form .err {
  color: red;
}

.login-form form a {
  padding: 10px;
}

.login-form form a:hover {
  color: rgba(41, 41, 41, 0.5);
}

.register-form {
  padding: 20px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  color: #292929;
}

@media (max-width: 768px) {
  .register-form {
    min-width: 100%;
  }
}

.register-form .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px;
}

.register-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.register-form form input {
  margin: 10px 0px;
  padding: 10px;
  width: 90%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #292929;
  font-size: 1rem;
}

.register-form form button {
  font-size: 1rem;
  font-weight: 600;
  width: 75%;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  cursor: pointer;
}

.register-form form button:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

.register-form form .err {
  color: red;
}

.cart-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
}

.cart-details .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.cart-details .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

@media (max-width: 576px) {
  .cart-details .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart-details .top button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 200px;
  margin: 10px 0;
  padding: 15px;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-details .top button:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

.cart-details .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (max-width: 992px) {
  .cart-details .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart-details .bottom .list {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.cart-details .bottom .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-details .bottom .list .item .image {
  margin-right: 10px;
}

.cart-details .bottom .list .item .image img {
  padding: 10px;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 10vh;
  max-width: 10vh;
  background-color: #ebebeb;
}

.cart-details .bottom .list .item .wrapper {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .cart-details .bottom .list .item .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart-details .bottom .list .item .wrapper .details {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-details .bottom .list .item .wrapper .qty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-details .bottom .list .item .wrapper .qty .icon {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-details .bottom .list .item .wrapper .qty .icon:hover {
  background-color: #ebebeb;
}

.cart-details .bottom .list .item .wrapper .qty div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-details .bottom .list .item .wrapper .price {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-details .bottom .list .item .delete {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-details .bottom .list .item .delete .icon {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-details .bottom .list .item .delete .icon:hover {
  background-color: #ebebeb;
}

.cart-details .bottom .summary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  color: #292929;
  border-radius: 5px;
  margin-left: 20px;
}

.cart-details .bottom .summary .title {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0;
}

.cart-details .bottom .summary .price {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.cart-details .bottom .summary button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 200px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-details .bottom .summary button:hover {
  background-color: rgba(41, 41, 41, 0.5);
}

.admin-navbar {
  padding: 2vh 10vw;
  background-color: #292929;
  color: #ebebeb;
}

.admin-navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .admin-navbar .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.admin-navbar .wrapper .title {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.admin-navbar .wrapper .title:hover {
  color: white;
}

.admin-navbar .wrapper button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #ebebeb;
  color: #292929;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #292929;
  width: 200px;
}

@media (max-width: 768px) {
  .admin-navbar .wrapper button {
    margin-top: 10px;
  }
}

.admin-navbar .wrapper button:hover {
  background-color: #292929;
  color: #ebebeb;
  border: 1px solid #ebebeb;
}

.admin-menu {
  padding: 2vh 10vw;
}

.admin-menu .wrapper .title-bar {
  padding: 0;
  margin: 20px 0;
}

.admin-menu .wrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: -20px;
}

.admin-menu .wrapper .list .option {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 768px) {
  .admin-menu .wrapper .list .option {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.admin-menu .wrapper .list .option div {
  background-color: #ebebeb;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.admin-menu .wrapper .list .option div:hover {
  background-color: #292929;
  color: #ebebeb;
}

.admin-products {
  padding: 2vh 10vw;
}

.admin-products .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.admin-products .top .title-bar {
  padding: 0;
}

.admin-products .top button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200px;
}

.admin-products .top button:hover {
  background-color: #ebebeb;
  color: #292929;
}

.admin-products .list {
  width: 100%;
}

.admin-products .list .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #292929;
  padding: 10px;
  border-radius: 5px;
  color: #ebebeb;
  margin-bottom: 10px;
}

.admin-products .list .filters .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ebebeb;
}

.admin-products .list .filters .search input {
  border: none;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
}

.admin-products .list .filters .search input:focus {
  outline: none;
}

.admin-products .list .filters .search .icon {
  margin-left: 5px;
  padding: 2px;
  color: #292929;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.admin-products .list .filters .search .icon:hover {
  cursor: pointer;
  color: #ebebeb;
  background-color: #292929;
}

.admin-products .list .filters .filter {
  padding: 0;
  margin: 0;
}

.admin-products .list .filters .filter .text {
  font-size: 1.2rem;
  font-weight: 600;
  padding-right: 5px;
}

.admin-products .list .filters .filter select {
  font-size: 1rem;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  color: #292929;
  background-color: #ebebeb;
}

.admin-products .list .grid {
  width: 100%;
}

.admin-product {
  padding: 2vh 10vw;
}

.admin-product .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.admin-product .top .title-bar {
  padding: 0;
}

.admin-product .top button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #292929;
  color: #ebebeb;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200px;
}

.admin-product .top button:hover {
  background-color: #be0000;
  color: #ebebeb;
}

.admin-product .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3vw;
}

.admin-product .bottom .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-product .bottom .left .name, .admin-product .bottom .left .category, .admin-product .bottom .left .subcategory, .admin-product .bottom .left .price, .admin-product .bottom .left .stock, .admin-product .bottom .left .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-product .bottom .left .name label, .admin-product .bottom .left .category label, .admin-product .bottom .left .subcategory label, .admin-product .bottom .left .price label, .admin-product .bottom .left .stock label, .admin-product .bottom .left .desc label {
  color: rgba(41, 41, 41, 0.7);
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 5px;
}

.admin-product .bottom .left .name input, .admin-product .bottom .left .name select, .admin-product .bottom .left .category input, .admin-product .bottom .left .category select, .admin-product .bottom .left .subcategory input, .admin-product .bottom .left .subcategory select, .admin-product .bottom .left .price input, .admin-product .bottom .left .price select, .admin-product .bottom .left .stock input, .admin-product .bottom .left .stock select, .admin-product .bottom .left .desc input, .admin-product .bottom .left .desc select {
  color: #292929;
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 20px;
  border: none;
  border-bottom: #292929 1px solid;
}

.admin-product .bottom .left .name textarea, .admin-product .bottom .left .category textarea, .admin-product .bottom .left .subcategory textarea, .admin-product .bottom .left .price textarea, .admin-product .bottom .left .stock textarea, .admin-product .bottom .left .desc textarea {
  overflow: auto;
  resize: none;
  font-size: 1rem;
  height: 10rem;
}

.admin-product .bottom .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-product .bottom .right .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-product .bottom .right .image img {
  height: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.admin-product .bottom .right .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-product .bottom .right .file .file1 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.admin-product .bottom .right .file .file2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px #292929;
  margin-bottom: 20px;
  padding-top: 25px;
  height: 33px;
}

.admin-product .bottom .right .url, .admin-product .bottom .right .file1, .admin-product .bottom .right .file2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-product .bottom .right .url label, .admin-product .bottom .right .file1 label, .admin-product .bottom .right .file2 label {
  color: rgba(41, 41, 41, 0.7);
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 5px;
}

.admin-product .bottom .right .url input, .admin-product .bottom .right .file1 input, .admin-product .bottom .right .file2 input {
  color: #292929;
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 20px;
  border: none;
  border-bottom: #292929 1px solid;
}

.admin-product .bottom .right .url input[type=file]::file-selector-button, .admin-product .bottom .right .file1 input[type=file]::file-selector-button, .admin-product .bottom .right .file2 input[type=file]::file-selector-button {
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  margin-right: 10px;
  background-color: #292929;
  color: #ebebeb;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.admin-product .bottom .right .url input[type=file]::file-selector-button:hover, .admin-product .bottom .right .file1 input[type=file]::file-selector-button:hover, .admin-product .bottom .right .file2 input[type=file]::file-selector-button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: #292929;
}

.admin-product .bottom .right .or {
  color: rgba(41, 41, 41, 0.7);
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

body a, body .link {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products {
  padding: 2vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products .sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 992px) {
  .products .sidebar {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

@media (max-width: 768px) {
  .products .sidebar {
    display: none;
  }
}

.products .main {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.products .main .product-list {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login, .register {
  padding: 2vh 10vw;
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url("https://barberstore.pl/img/cms/t%C5%82o(2).jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0), black), url("https://barberstore.pl/img/cms/t%C5%82o(2).jpg") center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart {
  padding: 2vh 10vw;
  height: 80vh;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */