@import './Styles/variables';
@import './Styles/navbar';
@import './Styles/slider';
@import './Styles/categories';
@import './Styles/productCard';
@import './Styles/productList';

body{
    font-family: $Merriweather;
    margin: 0;
    padding: 0;
}
