@import './Styles/variables';
@import './Styles/navbar';
@import './Styles/slider';
@import './Styles/categories';
@import './Styles/productCard';
@import './Styles/productList';
@import './Styles/titleBar';
@import './Styles/footer';
@import './Styles/sidebar';
@import './Styles/filter';
@import './Styles/productDetails';
@import './Styles/loginForm';
@import './Styles/registerForm';
@import './Styles/cartDetails';
@import './Styles/AdminStyles/adminNavbar';
@import './Styles/AdminStyles/adminMenu';
@import './Styles/AdminStyles/adminProducts';
@import './Styles/AdminStyles/adminProduct';

body{
    font-family: $Merriweather;
    margin: 0;
    padding: 0;

    a,.link{
        text-decoration: none;
        color: inherit;
        padding: 0;
        margin: 0;
    }
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

//Pages
.home{
    display: flex;
    flex-direction: column;
}

.products{
    padding: $Padding;
    display: flex;
    flex-direction: row;

    .sidebar{
        @media (max-width:#{$lg}) {
            flex: 2;
        }
        @media (max-width:#{$md}) {
            display: none;
        }
        flex: 1;
    }

    .main{
        flex: 4;

        .product-list{
            flex: 4;
            padding: 0;
        }
    }
}

.product{
    display: flex;
    flex-direction: row;
}

.login,.register{
    padding: $Padding;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0),
                                rgba(0,0,0,1)),
                url('https://barberstore.pl/img/cms/t%C5%82o(2).jpg') center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    padding: $Padding;
}

.admin{
    display: flex;
    flex-direction: column;
}
