@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
.navbar {
  background-color: #292929;
  color: #ebebeb;
  padding: 2vh 10vw;
}

.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .wrapper .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .navbar .wrapper .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar .wrapper .top .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .navbar .wrapper .top .left {
    display: none;
  }
}

.navbar .wrapper .top .left .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ebebeb;
}

.navbar .wrapper .top .left .search input {
  border: none;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
}

.navbar .wrapper .top .left .search input:focus {
  outline: none;
}

.navbar .wrapper .top .left .search .icon {
  margin-left: 5px;
  padding: 2px;
  color: #292929;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .left .search .icon:hover {
  cursor: pointer;
  color: #ebebeb;
  background-color: #292929;
}

.navbar .wrapper .top .center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .center {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar .wrapper .top .center .toggle-btn {
  display: none;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .center .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .wrapper .top .center .toggle-btn .icon {
  font-size: 2.2rem;
  margin: 0 5px;
  padding: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .center .toggle-btn .icon:hover, .navbar .wrapper .top .center .toggle-btn .icon.active {
  cursor: pointer;
  color: #292929;
  background-color: #ebebeb;
}

.navbar .wrapper .top .center img {
  height: 3rem;
  margin-right: 1rem;
}

@media (max-width: 992px) {
  .navbar .wrapper .top .center img {
    display: none;
  }
}

.navbar .wrapper .top .center .title {
  font-size: 3rem;
  font-weight: 900;
}

@media (max-width: 992px) {
  .navbar .wrapper .top .center .title {
    margin-left: 15px;
  }
}

.navbar .wrapper .top .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 576px) {
  .navbar .wrapper .top .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

.navbar .wrapper .top .right .icon {
  font-size: 2.2rem;
  margin: 0 5px;
  padding: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .top .right .icon:hover {
  cursor: pointer;
  color: #292929;
  background-color: #ebebeb;
}

.navbar .wrapper .bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

@media (max-width: 992px) {
  .navbar .wrapper .bottom {
    width: 100%;
  }
}

.navbar .wrapper .bottom .category {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

@media (max-width: 576px) {
  .navbar .wrapper .bottom .category {
    display: none;
  }
}

.navbar .wrapper .bottom .category .title {
  font-size: 1.4rem;
  font-weight: 300;
}

.navbar .wrapper .bottom .category .dropdown-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #ebebeb;
  -webkit-box-shadow: 0px 30px 20px 0px #292929;
          box-shadow: 0px 30px 20px 0px #292929;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
}

.navbar .wrapper .bottom .category .dropdown-list .item {
  padding: 1rem;
}

.navbar .wrapper .bottom .category .dropdown-list .item:hover {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar .wrapper .bottom .category:hover {
  background-color: #ebebeb;
  color: #292929;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.navbar .wrapper .bottom .category:hover .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar .wrapper .toggle-menu {
  width: 100%;
  display: none;
}

.navbar .wrapper .toggle-menu .toggle-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .wrapper .toggle-menu .toggle-category .title {
  font-size: 1.4rem;
  font-weight: 300;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list .item {
  padding: 1rem;
}

.navbar .wrapper .toggle-menu .toggle-category .dropdown-list .item:hover {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar .wrapper .toggle-menu .toggle-category:hover {
  background-color: #ebebeb;
  color: #292929;
  cursor: pointer;
}

.navbar .wrapper .toggle-menu .toggle-category:hover .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  padding: 2vh 10vw;
  position: relative;
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292929), color-stop(#ebebeb), to(white));
  background-image: linear-gradient(#292929, #ebebeb, white);
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }
}

.slider .arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 1vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .arrow-left:hover,
.slider .arrow-right:hover {
  background-color: rgba(41, 41, 41, 0.1);
}

.slider .slide {
  opacity: 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.slider .slide .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slide .wrapper .image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slide .wrapper .image img {
  height: 80%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider .slide .wrapper .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slide .wrapper .desc .title {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

.slider .slide .wrapper .desc .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.slider .slide .wrapper .desc .btn button {
  border: solid 2px #292929;
  background-color: transparent;
  font-size: 2rem;
  padding: 10px 40px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider .slide .wrapper .desc .btn button:hover {
  background-color: rgba(41, 41, 41, 0.1);
  cursor: pointer;
}

.slider .slide.active {
  opacity: 1;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */