@import '../variables';

.admin-products,
.admin-categories,
.admin-slider,
.admin-users{
    padding: $Padding;

    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title-bar{
            padding: 0;
        }

        button{
            @include title(1rem,600);
            border: none;
            background-color: $Dark;
            color: $Light;
            border-radius: 5px;
            padding: 10px 30px;
            cursor: pointer;
            transition: all 0.5s ease;
            width: 200px;
        }

        button:hover{
            background-color: $Light;
            color: $Dark;
        }
    }

    .list{
        width: 100%;

        .filters{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $Dark;
            padding: 10px;
            border-radius: 5px;
            color: $Light;
            margin-bottom: 10px;

            .search{
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 5px;
                width: fit-content;
                background-color: $Light;

                input{
                    border: none;
                    height: 2rem;
                    font-size: 1rem;
                    background-color: transparent;
                }
                input:focus{
                    outline: none;
                }

                .icon{
                    margin-left: 5px;
                    padding: 2px;
                    color: $Dark;
                    border-radius: 50%;
                    transition: all 0.5s ease;
                }

                .icon:hover{
                    cursor: pointer;
                    color: $Light;
                    background-color: $Dark;
                }
            }

            .filter{
                padding: 0;
                margin: 0;
            
                .text{
                    @include title(1.2rem,600);
                    padding: 0 10px;
                    margin-left: 10px;
                }
                .text.hide.inactive{
                    display: none;
                }

                select{
                    @include title(1rem,300);
                    padding: 5px;
                    border-radius: 5px;
                    color: $Dark;
                    background-color: $Light;
                }
                select.hide.inactive{
                    display: none;
                }
            }
        }

        .grid{
            width: 100%;

            .grid-name{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                height: 90%;

                .grid-image{
                    object-fit: contain;
                    margin-right: 10px;
                }
            }

            .btn{
                margin-left: 5px;
            }

            a,.btn{
                width: 100%;
                height: 75%;
                background-color: $Dark;
                color: $Light;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.5s ease;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .grid-edit{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }    
            }

            a:hover{
                background-color: $Warning;
                color: $Dark;
            }

            .btn:hover{
                background-color: $Danger;
                color: $Dark;  
            }
        }
    }
}